KAFKA_BOOTSTRAP_SERVERS=kafka:9092
TRANSACTIONS_TOPIC=transactions
ALERTS_TOPIC=alerts
LOCAL_MODEL_UPDATES_TOPIC=local_model_updates
GLOBAL_MODEL_UPDATES_TOPIC=global_model_updates
SIMULATOR_INTERVAL_SECONDS=0.4
RISK_THRESHOLD=0.6
